<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Template Style-->
<style scoped>
  .template-listing-body *, ::after, ::before {
    box-sizing: border-box;
  }
  .template-listing-body .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }
  .template-listing-body .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }
  .template-listing-body .subSection {
    margin-bottom: 20px;
  }
  .template-listing-body .infoCard {
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,.08), 0 -2px 6px 0 rgba(240,240,240,.5);
  }
  .template-listing-body p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .template-listing-body .videoSubtitle {
    text-align: justify;
    font-size: 11px;
    color: #333;
    font-style: italic;
    padding: 10px 0;
  }
  .template-listing-body .cardTitle {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    color: #333;
    font-weight: 500;
    letter-spacing: normal;
    font-size: 15px;
  }
  .template-listing-body .videoResource {
    width: 300px;
    height: 165px;
  }
  .template-listing-body .nutritionalCard {
    color: #fff;
    padding: 15px 15px 0;
    border-radius: 13px;
    background-image: linear-gradient(250deg,#00C9A7 40%,#00BB98 50%);
    box-shadow: 0 12px 12px 0 rgba(0,0,0,.08), 0 -2px 6px 0 rgba(240,240,240,.5);
    font-weight: 100;
  }

  /* grid styles */
  .template-listing-body .col-11,.template-listing-body .col-12,.template-listing-body .col-3,.template-listing-body .col-6,.template-listing-body .col-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .template-listing-body .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .template-listing-body .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* end grid styles */
  .template-listing-body .text-left {
    text-align: left;
  }
  .template-listing-body .nutritionalList {
    font-size: 11px;
    margin-bottom: 15px;
  }
  .template-listing-body .listHeader {
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .template-listing-body .listText {
    font-size: 14px;
    font-weight: 500;
  }
  .template-listing-body .btn {
    color: #fff;
    padding: 5px 30px;
    font-size: 15px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 5px;
    background-color: #419783;
  }
  @media (min-width: 576px){
    .template-listing-body .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .template-listing-body .videoSubtitle {
      font-size: 15px;
      text-align: center;
      width: 100%;
    }
    .template-listing-body .cardTitle {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .template-listing-body .videoResource {
      width: 495px;
      height: 275px;
    }
    .template-listing-body .videoSubtitle {
      font-size: 15px;
      text-align: center;
      width: 100%;
    }

    /* grid styles */
    .template-listing-body .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .template-listing-body .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  }

</style>


<div class="template-listing-body">
  <div class="row justify-content-center subSection productDescription">
    <div class="infoCard" style="padding:15px;">
      <p class="prodDesc videoSubtitle">
        Aashirvaad Atta is India's No. 1 Atta Brand, trusted by over 2.5Cr Households all over the country. Aashirvaad is made with the 4 step advantage: Choicest Grains are chosen from 6500 Selection Centers followed by a 3 step cleaning process and traditional Chakki-Like grinding method. Nutrition of the Whole Grain Remains Locked in our Atta.
      </p>
    </div>
  </div>


  <div class="row justify-content-center subSection">
    <p class="cardTitle">What’s more?</p>
    <iframe class="videoResource" src="https://www.youtube.com/embed/y_vzst8GFhk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <span class="videoSubtitle">From Paranthas of Punjab to Bihar's Litti Choka, millions of mothers from different parts of the country have, for years, used Aashirvaad Atta to make delicacies everyday. It is their trust that has made Aashirvaad-India's No. 1 Atta Brand. Aashirvaad promises to live up to this trust by offering Sarvagunn Sampanna Atta.</span>
  </div>
  <div class="row justify-content-center subSection">
    <p class="cardTitle">Nutritional Info (per 100 g)</p>
      <div class="col-md-9 col-12 nutritionalCard text-left">
        <div class="row justify-content-center">
          <div class="col-md-5 col-6">
            <div class="nutritionalList">
              <p class="listHeader">Energy</p>
              <p class="listText">369 kcal</p>
            </div>
            <div class="nutritionalList">
              <p class="listHeader">Protein</p>
              <p class="listText">10.8 g</p>
            </div>
            <div class="nutritionalList">
              <p class="listHeader">Fat</p>
              <p class="listText">1.8 g</p>
            </div>
          </div>
          <div class="col-md-5 col-6">
            <div class="nutritionalList">
              <p class="listHeader">Carbohydrates</p>
              <p class="listText">77.4 g</p>
            </div>
            <div class="nutritionalList">
              <p class="listHeader">Sugar</p>
              <p class="listText">5.6 g</p>
            </div>
            <div class="nutritionalList">
              <p class="listHeader">Dietary Fibre</p>
              <p class="listText">11.1 g</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row justify-content-center subSection">
    <p class="cardTitle">Have you tried cooking Whole Wheat Halwa from your Aashirvaad Atta?</p>
    <iframe class="videoResource" src="https://www.youtube.com/embed/I0Cz2uzdfb4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <span class="videoSubtitle">Click at the button below to watch more exciting recipes</span>
    <a href="https://www.youtube.com/watch?v=I0Cz2uzdfb4" type="button" target='_blank' class="btn col-md-5 col-12" style="text-decoration:none">Watch Now</a>
  </div>
</div>